
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<footer class="bg-dark text-light pt-5 mt-auto w-100">
  <div class="container">
    <div class="row">


      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Student Network</h5>
        <p class="text-muted">
          Connecting students and alumni to build careers, share experiences,
          and grow together.
        </p>
      </div>

      <div class="col-md-2 mb-4">
        <h6 class="text-uppercase">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">Alumni</a></li>
          <li><a href="#" class="text-light">Events</a></li>
          <li><a href="#" class="text-light">Jobs</a></li>
        </ul>
      </div>


      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Resources</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Success Stories</a></li>
          <li><a href="#" class="text-light">Mentorship</a></li>
          <li><a href="#" class="text-light">Help Center</a></li>
          <li><a href="#" class="text-light">Privacy Policy</a></li>
        </ul>
      </div>


      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Contact Us</h6>
        <p class="mb-1">📧 studentnetwork@uni.edu.bd</p>
        <p class="mb-1">📞 +880 1234 567 890</p>
        <p>📍 Bangladesh</p>

        <div>
          <a href="#" class="text-light mr-3">Facebook</a>
          <a href="#" class="text-light mr-3">LinkedIn</a>
          <a href="#" class="text-light">Twitter</a>
        </div>
      </div>

    </div>

    <hr class="bg-secondary">

    <div class="text-center pb-3">
      <small class="text-light">
        © 2026 Student Network. All rights reserved.
      </small>
    </div>
  </div>
</footer>
        
        <script src="" async defer></script>
    </body>
</html>