{% extends "main.html" %}

{% block content %}


<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Browse Topics</h5>
          <hr>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'room' %}" class="text-decoration-none">All</a>
            </li>

            {% for topic in topics %}
            <li class="list-group-item">
              <a href="{% url 'room' %}?q={{ topic.name }}"
                 class="text-decoration-none">
                {{ topic.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>{{ rooms_count }} rooms available</h5>
        <a href="{% url 'create-room' %}" class="btn btn-primary btn-sm">
          + Create Room
        </a>
      </div>


      {% for room in rooms %}
      <div class="card mb-3 shadow-sm">
        <div class="card-body">

          <div class="d-flex justify-content-between">
            <h5 class="card-title">
              <a href="{% url 'post-details' room.id %}" class="text-decoration-none">
                {{ room.name }}
              </a>
            </h5>
            
            <div>
                <a href="{% url 'post-details' room.id %}"
                class="btn btn-outline-danger btn-sm">
                See more
                </a>
            </div>
          </div>

          <a href="{% url 'user-details' room.id %}" class="mb-1 text-muted decoration">
            @{{ room.host.username | capfirst }}
          </a>
          {% if room.description %}
            <p class="text-muted small">
              {{ room.description | truncatewords:30 }}
            </p>
          {% endif %}

        </div>
      </div>
      {% endfor %}

    </div>
    <nav aria-label="Page nagigation" class="mt-4">
          <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
            <li class="page-item active">
              <span class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages}}</span>
            </li>

            {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ posts.paginator.num_pages}}">Last</a>
            </li>
            {% endif %}

          </ul>
        </nav>

  </div>
</div>

{% endblock %}